<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.usuario.AHTTPTest"
      android:versionCode="1"
      android:versionName="0.0.1"
      android:installLocation="auto"
      >
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:debuggable="true">
        <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:configChanges="locale|keyboardHidden|orientation|screenSize"
                  android:launchMode="singleTask"
                  
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:name="com.ideaworks3d.marmalade.VFSProvider"
                  android:authorities="zzzz6f4f126c1f2ee209cddf9983c9f9d360.VFSProvider"
                  android:exported="false"
                  android:multiprocess="true"
        >
        </provider>
        <activity android:name="com.facebook.LoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" />
<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

<receiver android:name="com.amazon.inapp.purchasing.ResponseReceiver">
	<intent-filter>
		<action android:name="com.amazon.inapp.purchasing.NOTIFY"
			android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY" />
	</intent-filter>
</receiver>
<!-- Not required to be a valid XML file. Will be copied verbatim to AndroidManifest.xml at deploy-time -->
<!-- Always added <uses-permission android:name="com.android.vending.BILLING" /> -->

<!-- application -->
<service android:name="com.ideaworks3d.marmalade.s3eAndroidMarketBilling.s3eAndroidMarketBilling" />

<receiver android:name="com.ideaworks3d.marmalade.s3eAndroidMarketBilling.s3eAndroidMarketBillingReceiver">
  <intent-filter>
    <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
    <action android:name="com.android.vending.billing.RESPONSE_CODE" />
    <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
  </intent-filter>
</receiver>
<!-- /application -->

<activity android:name="com.ideaworks3d.marmalade.s3eAndroidGooglePlayBilling.PurchaseProxy" android:theme="@style/Theme.Transparent"></activity>

<activity 
 android:name="com.sec.android.iap.lib.activity.InboxActivity" 
 android:theme="@style/Theme.Empty" 
 android:configChanges="orientation|screenSize"/> 
 
<activity 
 android:name="com.sec.android.iap.lib.activity.PaymentActivity" 
 android:theme="@style/Theme.Empty" 
 android:configChanges="orientation|screenSize"/>  
<activity 
 android:name="com.sec.android.iap.lib.activity.ItemActivity" 
 android:theme="@style/Theme.Empty" 
 android:configChanges="orientation|screenSize"/>

<receiver android:name="mp.BillingSMSReceiver">
    <intent-filter>
        <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
    </intent-filter>
</receiver>
<service android:name="mp.MpService" />
<service android:name="mp.StatusUpdateService" />
<activity android:name="mp.MpActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />


    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"/>
	<!-- Required by Marmalade internally. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- The following permissions are optional unless required by your application: -->
    <!-- Required if using the sdcard (AndroidUseSdcard=1). -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Required by s3eContacts. -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- Required by s3eSoundRecord. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Required by s3eCamera. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Required by s3eSMS. -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- Required by s3eLocation. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Required by s3eAndroidLVL.mkb to check licensing. -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <!-- Required by s3eAndroidInAppBilling to initiate in-app transactions -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Required by s3eAndroidZeroConf to allow multicast receive -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!-- The following permissions can be enabled here if required -->
    <!-- Used by Marmalade if the TelephonyManager code is required -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    
    <uses-permission android:name="com.android.vending.BILLING" />
<uses-permission android:name="com.sec.android.iap.permission.BILLING"/> 
<uses-permission android:name="android.permission.INTERNET"/>

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.RECEIVE_SMS" />
<uses-permission android:name="android.permission.SEND_SMS" />

<permission android:protectionLevel="signature" android:name="plugin.fortumo.PAYMENT_BROADCAST_PERMISSION" />
<uses-permission android:name="plugin.fortumo.PAYMENT_BROADCAST_PERMISSION" />


</manifest>
