<config platform="android" template="android (default)">Created: Fri Jan 23 11:45:06 2015
By: usuario
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" fromDef="true" value=""/>
    <option name="android-icon-group" fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option name="android-icon-gallery" fromDef="true" value=""/>
    <option name="android-icon-nonstandard" fromDef="true" value=""/>
    <option name="android-external-res" fromDef="true" value="../../../../../sdks/marmalade/7.4.3/extensions/s3efacebook/third-party/facebook-android-sdk/facebook/res;../../../../../sdks/marmalade/7.4.3/extensions/s3eandroidgoogleplaybilling/source/android/res;../../../../../sdks/marmalade/7.4.3/extensions/s3esamsunginapppurchasing/source/android/res"/>
    <option name="android-external-assets" fromDef="true" value=""/>
    <option name="android-install-location" fromDef="true" value="1"/>
    <option name="android-pkgname" fromDef="true" value="com.usuario.AHTTPTest"/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="true" value="AHTTPTest"/>
    <option name="caption" fromDef="true" value="AHTTPTest"/>
    <option name="provider" fromDef="true" value="usuario"/>
    <option name="copyright" fromDef="true" value="(C) usuario"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="android-manifest" fromDef="true" value=""/>
    <option name="android-custom-activity" fromDef="true" value=""/>
    <option name="android-extra-manifest" fromDef="true" value="../../../../../sdks/marmalade/7.4.3/extensions/s3eandroidgoogleplaybilling/source/android/ExtraManifests.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3esamsunginapppurchasing/source/android/ExtraManifests.xml;../../../../../sdks/marmalade/7.4.3/extensions/fortumo/extras.manifest.txt"/>
    <option name="android-extra-application-manifest" fromDef="true" value="../../../../../sdks/marmalade/7.4.3/extensions/s3efacebook/source/android/extra_app_manifest.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3eamazoninapppurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3eandroidmarketbilling/s3eAndroidMarketBillingManifest.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3eandroidgoogleplaybilling/source/android/ExtraAppManifests.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3esamsunginapppurchasing/source/android/ExtraAppManifests.xml;../../../../../sdks/marmalade/7.4.3/extensions/fortumo/extras.application.txt"/>
    <option name="android-extra-strings" fromDef="false" value="(app_id,fb_app_id)"/>
    <option name="android-supports-gl-texture" fromDef="true" value=""/>
    <option name="android-unsigned" fromDef="true" value=""/>
    <option name="android-tm" fromDef="true" value=""/>
</config>
