<config template="android (default)" platform="android">Created: Fri Jan 23 11:45:06 2015&#xd;
By: usuario&#xd;
Using Template: android (default)&#xd;
&#xd;
&lt;description to go here><option name="android-icon-dir" value="" fromDef="true"/>
    <option name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true"/>
    <option name="android-icon-gallery" value="" fromDef="true"/>
    <option name="android-icon-nonstandard" value="" fromDef="true"/>
    <option name="android-external-res" value="../../../../../sdks/marmalade/7.4.3/extensions/s3efacebook/third-party/facebook-android-sdk/facebook/res;../../../../../sdks/marmalade/7.4.3/extensions/s3eandroidgoogleplaybilling/source/android/res;../../../../../sdks/marmalade/7.4.3/extensions/s3esamsunginapppurchasing/source/android/res" fromDef="true"/>
    <option name="android-external-assets" value="" fromDef="true"/>
    <option name="android-install-location" value="1" fromDef="true"/>
    <option name="android-pkgname" value="com.usuario.AHTTPTest" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="resources/common.icf;resources/app.icf" fromDef="true"/>
    <option name="name" value="AHTTPTest" fromDef="true"/>
    <option name="caption" value="AHTTPTest" fromDef="true"/>
    <option name="provider" value="usuario" fromDef="true"/>
    <option name="copyright" value="(C) usuario" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="android-manifest" value="" fromDef="true"/>
    <option name="android-custom-activity" value="" fromDef="true"/>
    <option name="android-extra-manifest" value="../../../../../sdks/marmalade/7.4.3/extensions/s3eandroidgoogleplaybilling/source/android/ExtraManifests.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3esamsunginapppurchasing/source/android/ExtraManifests.xml;../../../../../sdks/marmalade/7.4.3/extensions/fortumo/extras.manifest.txt" fromDef="true"/>
    <option name="android-extra-application-manifest" value="../../../../../sdks/marmalade/7.4.3/extensions/s3efacebook/source/android/extra_app_manifest.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3eamazoninapppurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3eandroidmarketbilling/s3eAndroidMarketBillingManifest.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3eandroidgoogleplaybilling/source/android/ExtraAppManifests.xml;../../../../../sdks/marmalade/7.4.3/extensions/s3esamsunginapppurchasing/source/android/ExtraAppManifests.xml;../../../../../sdks/marmalade/7.4.3/extensions/fortumo/extras.application.txt" fromDef="true"/>
    <option name="android-extra-strings" value="(app_id,fb_app_id)" fromDef="false"/>
    <option name="android-supports-gl-texture" value="" fromDef="true"/>
    <option name="android-unsigned" value="" fromDef="true"/>
    <option name="android-tm" value="" fromDef="true"/>
</config>
