<config platform="iphone" template="iphone (default)">Created: Fri Jan 23 11:45:06 2015
By: usuario
Using Template: iphone (default)

&lt;description to go here><option value="&quot;universal&quot;" name="iphone-application-type" fromDef="true"/>
    <option value="com.usuario.AHTTPTest" name="iphone-appid" fromDef="true"/>
    <option value="" name="iphone-show-status-bar" fromDef="true"/>
    <option value="" name="iphone-uiviewcontroller-based-status-bar" fromDef="true"/>
    <option value="4.3" name="iphone-minimum-ios-version" fromDef="true"/>
    <option value="" name="iphone-icon-dir" fromDef="true"/>
    <option value="" name="iphone-icon-extra" fromDef="true"/>
    <option value="" name="iphone-prerendered-icon" fromDef="true"/>
    <option value="" name="iphone-skip-icon-generation" fromDef="true"/>
    <option value="" name="iphone-launch-dir" fromDef="true"/>
    <option value="" name="iphone-launch-storyboard" fromDef="true"/>
    <option value="" name="iphone-launch-extra" fromDef="true"/>
    <option value="" name="iphone-skip-launch-generation" fromDef="true"/>
    <option value="" name="iphone-disable-launch-images" fromDef="true"/>
    <option value="" name="iphone-allow-launch-rotation" fromDef="true"/>
    <option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="AHTTPTest" name="name" fromDef="true"/>
    <option value="AHTTPTest" name="caption" fromDef="true"/>
    <option value="usuario" name="provider" fromDef="true"/>
    <option value="(C) usuario" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="English" name="iphone-region" fromDef="true"/>
    <option value="" name="iphone-info-plist" fromDef="true"/>
    <option value="" name="iphone-persistent-wifi" fromDef="true"/>
    <option value="" name="iphone-backgroundmode-audio" fromDef="true"/>
    <option value="" name="iphone-app-fonts" fromDef="true"/>
    <option value="" name="iphone-bundle-localisations" fromDef="true"/>
    <option value="" name="iphone-bundle-url-name" fromDef="true"/>
    <option value="" name="iphone-bundle-url-schemes" fromDef="true"/>
    <option value="" name="itunes-artwork" fromDef="true"/>
    <option value="" name="iphone-nosign" fromDef="true"/>
    <option value="" name="iphone-sign-for-distribution" fromDef="true"/>
    <option value="" name="iphone-provisioning-profile" fromDef="true"/>
    <option value="" name="iphone-disable-testflight" fromDef="true"/>
    <option value="" name="iphone-signing-identity" fromDef="true"/>
</config>
