<config platform="iphone" template="iphone (default)">Created: Fri Jan 23 11:45:06 2015
By: usuario
Using Template: iphone (default)

&lt;description to go here><option name="iphone-application-type" fromDef="true" value="&quot;universal&quot;"/>
    <option name="iphone-appid" fromDef="true" value="com.usuario.AHTTPTest"/>
    <option name="iphone-show-status-bar" fromDef="true" value=""/>
    <option name="iphone-uiviewcontroller-based-status-bar" fromDef="true" value=""/>
    <option name="iphone-minimum-ios-version" fromDef="true" value="4.3"/>
    <option name="iphone-icon-dir" fromDef="true" value=""/>
    <option name="iphone-icon-extra" fromDef="true" value=""/>
    <option name="iphone-prerendered-icon" fromDef="true" value=""/>
    <option name="iphone-skip-icon-generation" fromDef="true" value=""/>
    <option name="iphone-launch-dir" fromDef="true" value=""/>
    <option name="iphone-launch-storyboard" fromDef="true" value=""/>
    <option name="iphone-launch-extra" fromDef="true" value=""/>
    <option name="iphone-skip-launch-generation" fromDef="true" value=""/>
    <option name="iphone-disable-launch-images" fromDef="true" value=""/>
    <option name="iphone-allow-launch-rotation" fromDef="true" value=""/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="true" value="AHTTPTest"/>
    <option name="caption" fromDef="true" value="AHTTPTest"/>
    <option name="provider" fromDef="true" value="usuario"/>
    <option name="copyright" fromDef="true" value="(C) usuario"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="iphone-region" fromDef="true" value="English"/>
    <option name="iphone-info-plist" fromDef="true" value=""/>
    <option name="iphone-persistent-wifi" fromDef="true" value=""/>
    <option name="iphone-backgroundmode-audio" fromDef="true" value=""/>
    <option name="iphone-app-fonts" fromDef="true" value=""/>
    <option name="iphone-bundle-localisations" fromDef="true" value=""/>
    <option name="iphone-bundle-url-name" fromDef="true" value=""/>
    <option name="iphone-bundle-url-schemes" fromDef="true" value=""/>
    <option name="itunes-artwork" fromDef="true" value=""/>
    <option name="iphone-nosign" fromDef="true" value=""/>
    <option name="iphone-sign-for-distribution" fromDef="true" value=""/>
    <option name="iphone-provisioning-profile" fromDef="true" value=""/>
    <option name="iphone-disable-testflight" fromDef="true" value=""/>
    <option name="iphone-signing-identity" fromDef="true" value=""/>
</config>
