<config platform="project" template="project (default)">Created: Fri Jan 23 11:45:05 2015
By: usuario
Using Template: project (default)

&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="AHTTPTest" name="name" fromDef="true"/>
    <option value="AHTTPTest" name="caption" fromDef="true"/>
    <option value="usuario" name="provider" fromDef="true"/>
    <option value="(C) usuario" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
