<config template="project (default)" platform="project">Created: Fri Jan 23 11:45:05 2015&#xd;
By: usuario&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="resources/common.icf;resources/app.icf" fromDef="true"/>
    <option name="name" value="AHTTPTest" fromDef="true"/>
    <option name="caption" value="AHTTPTest" fromDef="true"/>
    <option name="provider" value="usuario" fromDef="true"/>
    <option name="copyright" value="(C) usuario" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
