<config platform="wp8" template="wp8 (default)">Created: Fri Jan 23 11:45:06 2015
By: usuario
Using Template: wp8 (default)

&lt;description to go here><option value="" name="wp8-author" fromDef="true"/>
    <option value="" name="wp8-publisher-id" fromDef="true"/>
    <option value="" name="wp8-description" fromDef="true"/>
    <option value="" name="wp8-product-id" fromDef="true"/>
    <option value="" name="wp8-exclude-wvga" fromDef="true"/>
    <option value="" name="wp8-exclude-wxga" fromDef="true"/>
    <option value="" name="wp8-exclude-720p" fromDef="true"/>
    <option value="" name="wp8-higher-mem" fromDef="true"/>
    <option value="" name="wp8-exclude-low-mem" fromDef="true"/>
    <option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="AHTTPTest" name="name" fromDef="true"/>
    <option value="AHTTPTest" name="caption" fromDef="true"/>
    <option value="usuario" name="provider" fromDef="true"/>
    <option value="(C) usuario" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-title" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-back-title" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-back-content" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-small-image" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-medium-front-image" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-medium-back-image" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-supports-large" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-large-front-image" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-large-back-image" fromDef="true"/>
    <option value="" name="wp8-tile-fliptemplate-large-back-content" fromDef="true"/>
    <option value="../../../../../sdks/marmalade/7.4.3/extensions/s3ewebview/source/wp8/WebBrowserModal.xaml=>" name="wp8-extra-res" fromDef="true"/>
    <option value="" name="wp8-custom-manifest" fromDef="true"/>
    <option value="" name="wp8-custom-manifest-fill" fromDef="true"/>
    <option value="" name="wp8-genre-isgame" fromDef="true"/>
    <option value="" name="wp8-ext-capabilities" fromDef="true"/>
    <option value="" name="wp8-fast-resume-mode" fromDef="true"/>
</config>
