<config platform="wp81" template="wp81 (default)">Created: Fri Jan 23 11:45:06 2015
By: usuario
Using Template: wp81 (default)

&lt;description to go here><option value="" name="wp81-publisher-display-name" fromDef="true"/>
    <option value="" name="wp81-publisher-id" fromDef="true"/>
    <option value="" name="wp81-identity-name" fromDef="true"/>
    <option value="" name="wp81-description" fromDef="true"/>
    <option value="" name="wp81-product-version" fromDef="true"/>
    <option value="" name="wp81-product-name" fromDef="true"/>
    <option value="" name="wp81-custom-manifest" fromDef="true"/>
    <option value="" name="wp81-custom-manifest-fill" fromDef="true"/>
    <option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="AHTTPTest" name="name" fromDef="true"/>
    <option value="AHTTPTest" name="caption" fromDef="true"/>
    <option value="usuario" name="provider" fromDef="true"/>
    <option value="(C) usuario" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="wp81-logo-image150x150" fromDef="true"/>
    <option value="" name="wp81-logo-image50x50" fromDef="true"/>
    <option value="" name="wp81-logo-image44x44" fromDef="true"/>
    <option value="" name="wp81-splash-screen-image480x800" fromDef="true"/>
    <option value="" name="wp81-splash-screen-background" fromDef="true"/>
    <option value="../../../../../sdks/marmalade/7.4.3/extensions/s3efacebook/third-party/facebook_wp81_lib/Facebook.Client" name="wp81-extra-res" fromDef="true"/>
    <option value="" name="wp81-ext-capabilities" fromDef="true"/>
    <option value="" name="wp81-ext-device-capabilities" fromDef="true"/>
</config>
