<config platform="wp81" template="wp81 (default)">Created: Fri Jan 23 11:45:06 2015
By: usuario
Using Template: wp81 (default)

&lt;description to go here><option name="wp81-publisher-display-name" fromDef="true" value=""/>
    <option name="wp81-publisher-id" fromDef="true" value=""/>
    <option name="wp81-identity-name" fromDef="true" value=""/>
    <option name="wp81-description" fromDef="true" value=""/>
    <option name="wp81-product-version" fromDef="true" value=""/>
    <option name="wp81-product-name" fromDef="true" value=""/>
    <option name="wp81-custom-manifest" fromDef="true" value=""/>
    <option name="wp81-custom-manifest-fill" fromDef="true" value=""/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="resources/common.icf;resources/app.icf"/>
    <option name="name" fromDef="true" value="AHTTPTest"/>
    <option name="caption" fromDef="true" value="AHTTPTest"/>
    <option name="provider" fromDef="true" value="usuario"/>
    <option name="copyright" fromDef="true" value="(C) usuario"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="wp81-logo-image150x150" fromDef="true" value=""/>
    <option name="wp81-logo-image50x50" fromDef="true" value=""/>
    <option name="wp81-logo-image44x44" fromDef="true" value=""/>
    <option name="wp81-splash-screen-image480x800" fromDef="true" value=""/>
    <option name="wp81-splash-screen-background" fromDef="true" value=""/>
    <option name="wp81-extra-res" fromDef="true" value="../../../../../sdks/marmalade/7.4.3/extensions/s3efacebook/third-party/facebook_wp81_lib/Facebook.Client"/>
    <option name="wp81-ext-capabilities" fromDef="true" value=""/>
    <option name="wp81-ext-device-capabilities" fromDef="true" value=""/>
</config>
