<config platform="ws80" template="ws80 (default)">Created: Fri Jan 23 11:45:06 2015
By: usuario
Using Template: ws80 (default)

&lt;description to go here><option value="" name="ws8-publisher-display-name" fromDef="true"/>
    <option value="" name="ws8-publisher-id" fromDef="true"/>
    <option value="" name="ws8-identity-name" fromDef="true"/>
    <option value="" name="ws8-description" fromDef="true"/>
    <option value="" name="ws8-product-version" fromDef="true"/>
    <option value="" name="ws8-product-name" fromDef="true"/>
    <option value="" name="ws8-custom-manifest" fromDef="true"/>
    <option value="" name="ws8-custom-manifest-fill" fromDef="true"/>
    <option value="" name="ws8-logo-image150x150" fromDef="true"/>
    <option value="" name="ws8-logo-image50x50" fromDef="true"/>
    <option value="" name="ws8-logo-image30x30" fromDef="true"/>
    <option value="" name="ws8-splash-screen-image620x300" fromDef="true"/>
    <option value="" name="ws8-splash-screen-background" fromDef="true"/>
    <option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="AHTTPTest" name="name" fromDef="true"/>
    <option value="AHTTPTest" name="caption" fromDef="true"/>
    <option value="usuario" name="provider" fromDef="true"/>
    <option value="(C) usuario" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="ws8-distribution-cer" fromDef="true"/>
    <option value="" name="ws8-certificate-end-date" fromDef="true"/>
    <option value="" name="ws8-distribution-pfx" fromDef="true"/>
    <option value="" name="ws8-distribution-pfx-password" fromDef="true"/>
    <option value="" name="ws8-extra-res" fromDef="true"/>
    <option value="" name="ws8-ext-capabilities" fromDef="true"/>
    <option value="" name="ws8-ext-device-capabilities" fromDef="true"/>
</config>
