# comments and whitespace stripped by deployment tool
[S3E]
MemSize=25000000
MemSizeDebug=30000000
WinPosX=16
WinPosY=16
[TRACE]
ACCELEROMETER=0
AUDIO=0
DEBUG=0
DEVICE=0
EXT=0
FIBRE=0
FILE=0
IWCRT=0
KEYBOARD=0
LOADER=0
MEMORY=0
THREAD=0
SOUND=0
SURFACE=0
[GL]
AllowNegativeUniformLocation=1
[S3E]
MemMgrMaxAllocWarning=0
[GL]
[QUICK]
mainFilename="main.lua"
[s3e]
SysAppVersion=0.0.1
SysAppCaption="AHTTPTest"
